<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link href="./css/style.css" rel="stylesheet">  
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site is all about to display covid19 District wise recored.</p>
        <p>This site was created by Smit Desai</p>
        <img class="me" src="./img/smit.png">
        </div>
        {{>footer}}
    </body>
</html>