<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link href="./css/style.css" rel="stylesheet">
    </head>
    <body>
        
        {{>header}}
        <p>404- Page Not Found.</p>
        {{>footer}}
    </body>
</html>