<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link href="./css/style.css" rel="stylesheet">
    </head>
    <body>
        {{>header}}
        <p>{{helpertext}}</p>
        {{>footer}}
    </body>
</html>