body{
    color: #333333;
    font-family: arial;
    padding: 0 16px;
    margin: 0 auto;
    max-width: 650px;
    border: 1px solid grey;
    border-radius: 5px;
    border-width: 5px;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content{
    flex-grow: 1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: mediumseagreen;
  }
  
  .active {
    background-color: midnightblue;
  }

footer{
    position: absolute;
    bottom: 0px;
    background-color: #333;
    border: 1px solid #eeeeee;
    margin-bottom: 16px;
    right: 295px;
    padding: 0 10px;
    width: 650px;
    height: auto;
}
footer p{

    
    color: whitesmoke;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

#sname{
    width:250px;
    height: 30px;
    border: 1px solid rosybrown;
}

button{
    cursor: pointer;
    box-shadow: 0 2px 5px 0 violet;
    width: 70px;
    height: 25px;
    border: 2px groove rgb(80, 97, 64);
    background-color: grey;
    color: white;
    border-radius: 5px;
}

#sname:hover{
    border-color: darkred;
}

#search:hover{
    background-color: darkseagreen;
    color: firebrick;
}

#line{
    color: rgb(5, 1, 10);
    margin: 16px;

}
.con{
    color: #333;
    
}

img {
 width: 250px;
 height: 250px;
}
